body {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

.sunimg {
    position: absolute;
    top: 14.5em;
    left: 13.2em;
    width: 14em;
    height: 10.8em;
    filter: drop-shadow(0 0 3em white);
    animation: orbit 70s linear infinite;
}

.earth,
.moon {
    position: absolute;
    border-style: solid;
    border-color: white transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.earth {
    top: 5.3em;
    left: 5.3em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}

.earthimg {
    position: absolute;
    top: 2.7em;
    left: 24.08em;
    width: 3em;
    height: 3em;
    animation: orbit 3.65s linear infinite;
}

.moon {
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

.earthimg::before,
.venus::before,
.moon::before,
.mercury::before,
.marsimg ::before,
.mercuryimg::before,
.jupiterimg::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

/* .earth::before{
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
} */
.moon::before {
    top: 0.8em;
    right: .2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}

.mercury {
    position: absolute;
    border-style: solid;
    border-color: white transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    top: 12em;
    left: 12em;
    width: 16em;
    height: 16em;
    animation: orbit 8.8s linear infinite;
}

.mercuryimg {
    position: absolute;
    top: 1em;
    left: 12em;
    width: 2.2em;
    height: 2.2em;
    animation: orbit 8s linear infinite;
}

/* .mercury::before {
        top: 2em;
        right: .4em;
        width: 2.2em;
        height: 2.2em;
        background-color: rgb(231, 110, 39);
    } */

.venus {
    position: absolute;
    border-style: solid;
    border-color: white transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 12s linear infinite;
}

.venusimg {
    position: absolute;
    top: 2.5em;
    left: 16.5em;
    width: 2.8em;
    height: 2.8em;
    animation: orbit 8s linear infinite;
}

/* .venus::before {
    top: 2em;
    right: 1em;
    width: 2.6em;
    height: 2.6em;
    background-color: rgb(203, 150, 15);
} */

.mars {
    position: absolute;
    top: 0;
    left: 0;
    height: 40em;
    width: 40em;
    position: absolute;
    border-style: solid;
    border-color: white transparent;
    border-width: .1em .1em 0 0;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 1.5px red);
    animation: orbit 80s linear infinite;
}

/* .mars::before {
    top: 3em;
    right: 4.4em;
    width: 4.2em;
    height: 4.2em;
    background-color: rgb(205, 18, 18);
} */

.marsimg {
    position: absolute;
    top: 4.7em;
    left: 33.08em;
    width: 2em;
    height: 2em;
    animation: orbit 8s linear infinite;
}

.jupiter {
    top: -5em;
    left: -5em;
    height: 50em;
    width: 50em;
    position: absolute;
    border-style: solid;
    border-color: white transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    animation: orbit 12s linear infinite;
}

.jupiterimg {
    position: absolute;
    top: 3.7em;
    left: 39.08em;
    width: 4.5em;
    height: 4.5em;
    animation: orbit 18s linear infinite;
}

.saturn {
    top: -9em;
    left: -9em;
    height: 57em;
    width: 57em;
    position: absolute;
    border-style: solid;
    border-color: transparent white;
    border-width:0.1em 0.1em 0 0;
    border-radius: 50%;
    animation: orbit 29.5s reverse linear infinite;
}

.saturnimg {
    position: absolute;
    top: 6em;
    left: 46em;
    width: 7em;
    height: 6em;
    filter: drop-shadow(0px 0px 1px white);
    animation: orbit 8s reverse linear infinite;
}
.copyright{
    position: absolute;
    top: 85%;
    color: whitesmoke;
}
@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}